@font-face {
  font-family: myDragonballFont;
  src: url("../..//page/styles/dragonballFont/Saiyan-Sans.ttf");
}

#canvas {
  position: absolute;
}

#winningGif {
  width: 525px;
  height: 525px;
  border-color: gold;
  border-width: 5px;
}

.world-wrapper {
  display: flex;
  justify-content: center;
}

/* produces an 21x21 grid*/
.word-fields {
  display: grid;
}

h1 {
  font-family: myDragonballFont;
  font-size: 500%;
  text-align: center;
  font-weight: normal;
}

h3 {
font-family: myDragonballFont;
  font-size: 150%;
  text-align: center;
  font-weight: normal;
}

body {
  background-image: url("../../../img/dragonballBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#controllPanel {
  display: flex;
  font-family: myDragonballFont;
  justify-content: center;
  font-size: 200%;
  text-align: center;
  font-weight: normal;
  color: yellow;
}

#buttonContainer {
  width: 525px;
  background-color: rgba(255, 68, 0, 0.74);
}

#controllPanel button {
  background-color: rgba(255, 68, 0, 0.74);
  font-family: myDragonballFont;
  text-align: center;
  padding: 15px 32px;
  margin: 15px 15px 15px 15px;
  font-weight: normal;
  font-size: 20px;
  border-color: black;
  border-width: 5px;
}
